.dashboard{
    margin-top:10rem;
}  

.products{
    display:grid;
    width:100vw;
    grid-template-columns:  repeat(3, minmax(0, 1fr));;
}

.card img{
    width: 13rem;
    height:15rem;
}   

.card{
    text-align: center;
}